@import url("https://fonts.googleapis.com/css?family=Comfortaa");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  font-family: "Comfortaa", cursive;
  color: #050574;
}

.titles {
  font-style: italic;
  font-weight: 600;
  color:#a5058a;
}
.imageUser {
  width: 30%;
  height: 50%;
  
}
.btn-users {
  position: absolute;
  bottom: 20px;
  left: 30%;
}
.btn-users a {
  color: #fff;
  text-decoration: none;
}

.title {
  font-size: 22px;
  color: #570357;
  font-weight: bold;
  margin-top: 30px;
}